* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  font-size: 36px;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
}

.box1 { background: rgb(51, 153, 102); }
.box2 { background: rgb(0, 204, 153); }
.box3 {
  background: rgb(0, 255, 204);
  flex-basis: 80px;
  flex-grow: 5;
  flex-shrink: 10;
}
.box4 {
  background: rgb(0, 255, 255);
  flex-grow: 10;
  flex-shrink: 5;
}
.box5 { background: rgb(51, 204, 255); }
.box6 {
  background: rgb(51, 153, 255);
}
.box7 {
  background: rgb(102, 153, 255);
}
.box8 { background: rgb(102, 102, 255); }
.box9 { background: rgb(102, 0, 255); }
.box10 { background: rgb(102, 0, 204); }

.box {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
